/* Full Page styling */

@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');

html {
    height: 100%;
    font-family: 'Exo';
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.background-picture{
    background-image: linear-gradient(to bottom, rgba(50, 50, 50, 1.0), rgba(50, 50, 50, 0)),  
    url("/../static/images/page_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Nav bar Styling */

.nav-wrapper {
    height: 10em !important;
}

.logo {
    height: 5.5em;
    width: 5.5em;
}

.nav-link {
    font-size: 2em;
}

/* Flash Message styling */

.flash-message {
    background: darkblue;
    color: white;
    line-height: 2;
}

/* Heading styles */

.page-heading {
    font-size: 4em;
    text-align: center;
    color: white;
}

.sub-heading{
    text-align: center;
    color: white;
    margin: 2em 2em;
}

/* Error page styling */

.error-page-heading {
    text-decoration: underline;
}

.error-icon{
    font-size: 5em;
    margin-top: 1em;
    align-items: center;
}

.error-page-paragraph {
    font-size: 2em;
    margin-top: 2em;
}

.error-button {
    margin-top: 2em;
}

/* Players page styling */

.profile-image {
    width: 10rem;
    height: 20rem;
    object-fit: contain;
}

.button-icon {
    margin-left: 1em;
}

/* News Page styling */

.article-header {
    margin-bottom: 1em;
    font-size: 3rem;
}

.article-content {
    font-size: 1.5em;
}

.news-info {
    margin-top: 4em;
}

/* Fixtures Page styling */

.fixture-list {
    margin: auto;
}

.fixture-list-sub {
    margin-right: 2em;
}

.edit-button {
    margin: 1em;
    font-size: 1em;
}

/* Register Page styling */

.register-card {
    background-color:aliceblue;
}

/* Cancel styling */

.cancel-link{
    font-size: 2em;
    margin: 1em 1em 0em 0em;
}

/* Footer Styling */

footer {
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-heading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.footer-training-times {
    text-align: center;
    font-size: 1em;
}

.footer-training-times p {
    margin: 0.5em 0em;
}

.social-links {
    margin: 3em 0em 0em 0em;
    text-align: center;
}

.social-icon {
    color: white;
    width: 33%;
    font-size: 2em;
    margin-bottom: 1em;
}

@media screen and (max-width: 450px) {
    .fixtures{
        font-size: 0.7em;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .error-card {
        height: 40em;
    }
}

@media screen and (min-width: 992px) {
    .heading-margin{
        margin-left: 1em;
    }
}