{% extends "base.html" %}
{% block content %}
    <h2 class="page-heading text-shadow">News</h2>
    <div class="row center">
        <a href="{{ url_for('add_article') }}" class="waves-effect waves-light btn green">Add article<i class="fa-solid fa-square-plus button-icon"></i></a>
    </div>

    {% for article in articles %}
    <div class="row">
        <div class="col s12">
            <div class="card-panel light-green darken-1 text-shadow">
                <row class="article-header">
                    <div class="article-header">
                        <i class="fa-solid fa-newspaper left"></i>
                        <span class="card-title">{{ article.heading.capitalize() }}</span>
                    </div>
                </row>
                <row>
                    <div>
                        <span class="white-text article-content">{{ article.content }}</span>
                    </div>
                </row>
                <row>
                    <div class="news-info">
                        <span class="white-text">Author: {{ article.author.capitalize() }}</span>
                        <span class="white-text right">Posted: {{ article.date }}</span>
                    </div>
                </row>
                <row>
                    {% if session.user|lower == "admin" %}
                        <a href="{{ url_for('edit_article', article_id=article._id) }}" class="waves-effect waves-light btn blue">Edit Article<i class="fa-regular fa-note-sticky button-icon"></i></a>
                    {% endif %}    
                </row>
            </div>
        </div>
      </div>
    {% endfor %}


    
{% endblock %}