{% extends 'base.html' %}

{% block email_script %}

<!--emailjs script to send contact form-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("Iw8TFysbugKKsDqz7");
        })();
    </script>

{% endblock %}


{% block content %}

<h2 class="page-heading text-shadow">Contact Us</h2>
<h4 class="sub-heading text-shadow">If you have any questions, queries or requirements then drop us an email below and we will get back to you as soon as we can.</h4>
<!--Contact Form for messaging site owner-->
<div class="row">
    <div class="card-panel col s12 m8 offset-m2">
        <form id="contactForm" onsubmit="return sendMail(this);" class="col s12" action="{{ url_for('display_articles') }}">
            <div class="input-field col s6">
                <i class="fa-solid fa-user prefix"></i>
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-address-book prefix"></i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="query" name="query" minlength="10" maxlength="5000" type="text" class="validate"
                        required>
                    <label for="query">Tell Us About Yourself</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green text-shadow">
                        Send Email <i class="fa-solid fa-envelope right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}



{% endblock %}