{% extends "base.html" %}
{% block content %}

<h2 class="page-heading text-shadow">Edit Article</h2>
    <div class="row">
        <div class="card-panel col s12 m8 offset-m2">
            <form class="col s12" method="POST" action="{{ url_for('edit_article', article_id=article._id) }}">
                <!--Cancel button-->
                <div class="row">
                    <div class="right cancel-link">
                        <a href="{{ url_for('display_articles')}}">Cancel <i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
                <!-- Article Heading input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="article_heading" name="article_heading" minlength="10" maxlength="500" type="text" class="validate"
                        value="{{ article.heading }}" required>
                        <label for="article_heading">Article Heading</label>
                    </div>
                </div>
                <!-- Article Date input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                        <input id="article_date" name="article_date" type="text"
                        value="{{ article.date }}" class="validate" readonly required>
                        <label for="article_date">Date Posted</label>
                    </div>
                </div>
                <!-- Article Content input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="article_content" name="article_content" minlength="10" maxlength="5000" type="text" class="validate"
                        value="{{ article.content }}" required>
                        <label for="article_content">Article Content</label>
                    </div>
                </div>
                <!-- Article author input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="article_author" name="article_author" minlength="10" maxlength="50" type="text" class="validate"
                        value="{{ article.author }}" required>
                        <label for="article_author">Article Author</label>
                    </div>
                </div>
                                
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large green text-shadow">
                            Update Article <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
                <!-- Modal Trigger -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a class="waves-effect waves-light btn red modal-trigger" href="#modal1">Delete Article</a>
                    </div>
                </div>    
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Are you sure you want to delete this article?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_article', article_id=article._id) }}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                        <a class="modal-close waves-effect waves-green btn-flat">No</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}