{% extends "base.html" %}
{% block content %}
    <h2 class="page-heading text-shadow">Players</h2>
    <div class="row center">
        <a class="waves-effect waves-light btn green">Add Player<i class="fa-solid fa-square-plus button-icon"></i></a>
        <a class="waves-effect waves-light btn blue">Edit Player<i class="fa-regular fa-note-sticky button-icon"></i></a>
        <a class="waves-effect waves-light btn red">Delete Player<i class="fa-solid fa-ban button-icon"></i></a>
    </div>
    <div class="row">
        {% for player in players %}
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="profile-image activator" src="{{ player.profile }}.png" title="source: imgur.com" /></a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ player.name.capitalize() }}</span>
                    <span class="card-title activator grey-text text-darken-4">{{ player.position.capitalize() }}</span>
                    <p class="activator"><i class="fa-solid fa-caret-down right"></i>More Info</p>
                </div>
                <div class="card-reveal">
                    <i class="fa-solid fa-chart-simple prefix"></i><span class="card-title grey-text text-darken-4">Player
                        Statistics
                        <i class="fa-regular fa-circle-xmark right"></i></span>
                    <p>Height: {{ player.height }}</p>
                    <p>Weight: {{ player.weight }}</p><br>
                    <p>Last Season Averages</p>
                    <p>Points: {{ player.points }}</p>
                    <p>Rebounds: {{ player.rebounds }}</p>
                    <p>Assists: {{ player.assists }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    


    
{% endblock %}